.def-card{
    padding: 0.1em;
    margin-top:auto;
    width: 30%;
    max-width: 500px;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.def-card img{
    
}

.def-card h2{
    font-size: 1em;
    font-weight: lighter;
}

.def-card p{
    font-size: 0.3em;
    font-weight: lighter;
    margin-bottom: 0;
}

