#blog_section{
    margin-top: 20em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#blog_section h4{
    color: #6434EF;
    font-size: 1.2em;
    font-weight: 700;
}

#blog_caption{
    font-size: 3em;
    font-weight: 700;
}

#blogs_grid{
    display: flex;
    justify-content: space-between;
}
